@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: Rockwell-condescend;
  src: url(rcb.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
nav .mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .mobile .logo {
  width: 9.438rem;
  cursor: pointer;
}
nav .mobile .logo img {
  width: 100%;
}
nav .mobile .search-cart {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .mobile .search-cart .icon-search {
  font-size: 1.22rem;
  font-weight: 700;
  cursor: pointer;
}
nav .mobile .search-cart .menu {
  padding: 0.625rem;
  border-radius: 4px;
  background-color: #077929;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
nav .mobile .search-cart .menu:hover {
  background-color: #02611f;
}
nav .mobile .search-cart .menu .icon {
  font-size: 1.5rem;
  color: #fff;
}
nav .mobile .search-cart .menu span {
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  background-color: #fff;
  color: #077929;
  border-radius: 100px;
  border: 1px solid #077929;
  width: 1rem;
  font-size: 0.688rem;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 1rem;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.094rem;
  padding: 0.906rem 0.75rem;
  cursor: pointer;
}
nav ul li:nth-child(2) {
  position: relative;
  display: none;
}
nav ul li:nth-child(2) input {
  width: inherit;
  height: 1.875rem;
  padding: 0 0.5rem;
  border: 1px solid black;
  outline: none;
}
nav ul li:nth-child(2) .icon-search {
  position: absolute;
  right: 0.75rem;
  top: 0.4rem;
}
nav ul li:last-child {
  background-color: #077929;
  border-radius: 4px;
  color: #fff;
  transition: 0.3s;
}
nav ul li:last-child:hover {
  background-color: #02611f;
}
nav ul li:last-child span:last-child {
  background-color: #fff;
  color: #077929;
  border-radius: 100px;
  border: 1px solid #077929;
  width: 1rem;
  font-size: 0.688rem;
  text-align: center;
  transition: 0.3s;
}
nav ul li {
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out 0.5s;
}
nav ul li a::before {
  visibility: hidden;
  height: 0;
}
nav .collapse {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 1rem;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  height: 19.5rem;
  visibility: visible;
}
nav .collapse li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.094rem;
  padding: 0.906rem 0.75rem;
  cursor: pointer;
}
nav .collapse li:nth-child(2) {
  position: relative;
  display: none;
}
nav .collapse li:nth-child(2) input {
  width: inherit;
  height: 1.875rem;
  padding: 0 0.5rem;
  border: 1px solid black;
  outline: none;
}
nav .collapse li:nth-child(2) .icon-search {
  position: absolute;
  right: 0.75rem;
  top: 0.4rem;
}
nav .collapse li:last-child {
  background-color: #077929;
  border-radius: 4px;
  color: #fff;
  transition: 0.3s;
}
nav .collapse li:last-child:hover {
  background-color: #02611f;
}
nav .collapse li:last-child span:last-child {
  background-color: #fff;
  color: #077929;
  border-radius: 100px;
  border: 1px solid #077929;
  width: 1rem;
  font-size: 0.688rem;
  text-align: center;
  transition: 0.3s;
}
nav .collapse li {
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out 0.5s;
}
nav .collapse li:nth-child(1) {
  transition-delay: 0.1s;
}
nav .collapse li:nth-child(2) {
  transition-delay: 0.2s;
}
nav .collapse li:nth-child(3) {
  transition-delay: 0.3s;
}
nav .collapse li:nth-child(4) {
  transition-delay: 0.3s;
}
nav .collapse li:nth-child(5) {
  transition-delay: 0.3s;
}

header .header-body {
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: 5.75rem;
}
header .header-body .text {
  margin-top: 1.5rem;
}
header .header-body .text h1 {
  font-size: 2.938rem;
  font-family: Rockwell-condescend;
  line-height: 3.454rem;
}
header .header-body .text p {
  padding: 1rem 0 1.5rem 0;
  line-height: 1.3rem;
}
header .header-body .text button {
  width: 100%;
  height: 3rem;
  background-color: #077929;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
header .header-body .text button:hover {
  background-color: #02611f;
}

main {
  padding: 1.5rem 1rem;
}
main .nav {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 2px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.051);
}
main .nav button {
  flex: 1;
  border: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.813rem;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  cursor: pointer;
}
main .nav .active {
  background-color: #fff;
  color: #000;
}
main .filter {
  margin: 0.5rem 0;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #077929;
  display: flex;
  gap: 0.5rem;
  background: none;
}
main .close {
  display: none;
}
main .product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2392156863);
}
main .product .product-container {
  width: 44.44vw;
  transition: all 0.4s;
}
main .product .product-container:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}
main .product .product-container .img-container {
  position: relative;
  transition: all 0.4s;
}
main .product .product-container .img-container img {
  width: 100%;
}
main .product .product-container .img-container .icon,
main .product .product-container .img-container .icon2 {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
main .product .product-container .img-container .icon {
  left: 0.25rem;
}
main .product .product-container .img-container .icon2 {
  right: 0.25rem;
}
main .product .product-container .img-container .add-to-cart {
  background: #077929;
  color: #fff;
  transition: 0.3s;
}
main .product .product-container .img-container .add-to-cart:hover {
  background-color: #02611f;
}
main .product .product-container .price {
  color: #077929;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .product .product-container .price span:last-child {
  font-size: 14px;
}
main .product .product-container .price span:last-child .icon {
  color: #fcd538;
}
main .product .product-container p {
  padding-top: 0.75rem;
  font-size: 0.875rem;
}
main .product .product-container .tag {
  display: block;
  font-size: 0.875rem;
  padding: 0.25rem 0 1.5rem 0;
  color: rgba(0, 0, 0, 0.6);
}
main .nav-item-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 0.563rem;
  padding: 0 1.375rem;
  margin: 1.5rem 0;
}
main .nav-item-btn span {
  padding: 0.625rem;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
main .nav-item-btn .first {
  border: 1px solid #077929;
  font-weight: 500;
}
main .nav-item-btn .icon {
  color: #077929;
}

footer {
  margin-top: 0.75rem;
  padding: 1.5rem 1rem;
  background: #f6fff9;
  text-align: center;
}
footer .container .logo img {
  width: 9.438rem;
}
footer .container .footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.313rem;
  padding: 1.5rem 0;
}
footer .container .footer-list .item {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .container .footer-list .item span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
}
footer .container .footer-list .item span:first-child {
  color: #000;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
footer .container .sign-up h2 {
  font-size: 1.25rem;
  font-family: Rockwell-condescend;
}
footer .container .sign-up .input {
  margin: 0.75rem 0 1.5rem 0;
  position: relative;
}
footer .container .sign-up .input input {
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  background: none;
  height: 3rem;
  padding-left: 3.357rem;
}
footer .container .sign-up .input .icon,
footer .container .sign-up .input .icon2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.219rem;
  color: rgba(0, 0, 0, 0.5019607843);
}
footer .container .sign-up .input .icon {
  left: 1.113rem;
}
footer .container .sign-up .input .icon2 {
  right: 1.113rem;
}
footer .container .sign-up .follow {
  font-size: 1.25rem;
}
footer .container .sign-up .socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.75rem;
}
footer .container .sign-up .socials .icon {
  font-size: 1.219rem;
  transition: all 0.4s;
}
footer .container .sign-up .socials .icon:hover {
  transform: scale(1.3);
  transition: all 0.4s;
}
footer .copyright {
  margin: 1.5rem 0;
  font-size: 0.688rem;
  color: rgba(0, 0, 0, 0.5019607843);
  padding: 0.5rem 1.188rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
footer .copyright span {
  white-space: nowrap;
}

.cart-page {
  margin-top: 5.75rem;
  padding: 1.5rem 1rem;
}
.cart-page .cart-page-container h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.cart-page .cart-page-container .container {
  margin: 1.5rem 0;
  display: grid;
  gap: 1rem;
}
.cart-page .cart-page-container .container .item-container {
  display: flex;
  gap: 0.5rem;
}
.cart-page .cart-page-container .container .item-container .product-img {
  width: 33.33vw;
}
.cart-page .cart-page-container .container .item-container .product-img img {
  width: 100%;
}
.cart-page .cart-page-container .container .item-container .details {
  flex-grow: 1;
}
.cart-page .cart-page-container .container .item-container .details .icon1,
.cart-page .cart-page-container .container .item-container .details .icon2 {
  cursor: pointer;
}
.cart-page .cart-page-container .container .item-container span {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  padding-top: 0.25rem;
}
.cart-page .cart-page-container .container .item-container .price {
  font-size: 1.25rem;
  color: #077929;
  padding: 0.75rem 0;
  font-weight: 600;
}
.cart-page .cart-page-container .container .item-container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  padding: 0.5rem 0.75rem;
  background: none;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.cart-page .cart-page-container .container .item-container .rate {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-page .cart-page-container .container .item-container .icon1 {
  color: #ec3535;
  font-size: 1.125rem;
}
.cart-page .cart-page-container .container .item-container .icon2 {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 1.125rem;
}
.cart-page .cart-page-container .summary {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
}
.cart-page .cart-page-container .summary h2 {
  font-size: 1.25rem;
  font-weight: 700;
}
.cart-page .cart-page-container .summary .order {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-page .cart-page-container .summary .order div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-page .cart-page-container .summary .order div span:last-child {
  font-weight: 500;
}
.cart-page .cart-page-container .summary .coupon {
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  padding: 0.75rem;
}
.cart-page .cart-page-container .summary .coupon p {
  font-weight: 500;
  text-align: center;
}
.cart-page .cart-page-container .summary .coupon .input {
  display: flex;
  gap: 0.75rem;
  padding-top: 0.75rem;
  justify-content: center;
}
.cart-page .cart-page-container .summary .coupon .input input,
.cart-page .cart-page-container .summary .coupon .input button {
  height: 2.75rem;
  background: none;
  cursor: pointer;
}
.cart-page .cart-page-container .summary .coupon .input input {
  width: 11.438rem;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  padding-left: 1rem;
}
.cart-page .cart-page-container .summary .coupon .input button {
  width: 4.25rem;
  border: 1px solid #077929;
}
.cart-page .cart-page-container .summary .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1215686275);
  margin: 1.5rem 0;
}
.cart-page .cart-page-container .summary .proceed {
  width: 100%;
  height: 3rem;
  background-color: #077929;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-page .cart-page-container .summary .proceed:hover {
  background-color: #02611f;
}
.cart-page .see-more {
  padding: 1.5rem 0;
}
.cart-page .see-more .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-page .see-more .head h3 {
  font-size: 1.125rem;
}
.cart-page .see-more .head .button {
  display: flex;
  gap: 1rem;
}
.cart-page .see-more .head .button .icon {
  font-size: 2rem;
  color: #077929;
  transition: 0.3s;
}
.cart-page .see-more .head .button .icon:hover {
  color: #02611f;
  transform: scale(1.1);
}
.cart-page .see-more .product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-top: none;
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  transition: all 0.4s;
}
.cart-page .see-more .product .product-container {
  width: 44.44vw;
  transition: all 0.4s;
}
.cart-page .see-more .product .product-container:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}
.cart-page .see-more .product .product-container .img-container {
  position: relative;
  transition: all 0.4s;
}
.cart-page .see-more .product .product-container .img-container img {
  width: 100%;
}
.cart-page .see-more .product .product-container .img-container .icon,
.cart-page .see-more .product .product-container .img-container .icon2 {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.cart-page .see-more .product .product-container .img-container .icon {
  left: 0.25rem;
}
.cart-page .see-more .product .product-container .img-container .icon2 {
  right: 0.25rem;
}
.cart-page .see-more .product .product-container .img-container .add-to-cart {
  background: #077929;
  color: #fff;
  transition: 0.3s;
}
.cart-page .see-more .product .product-container .img-container .add-to-cart:hover {
  background-color: #02611f;
}
.cart-page .see-more .product .product-container .price {
  color: #077929;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-page .see-more .product .product-container .price span:last-child {
  font-size: 14px;
}
.cart-page .see-more .product .product-container .price span:last-child .icon {
  color: #fcd538;
}
.cart-page .see-more .product .product-container p {
  padding-top: 0.75rem;
  font-size: 0.875rem;
}
.cart-page .see-more .product .product-container .tag {
  display: block;
  font-size: 0.875rem;
  padding: 0.25rem 0 1.5rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.cart-page .see-more .product .product-container {
  flex-shrink: 0;
}

.check-out-pages {
  padding: 0 1rem;
  margin-top: 5.75rem;
}
.check-out-pages .check-out-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.check-out-pages .check-out-form .container .delivery .header h1,
.check-out-pages .check-out-form .container .payment .header h1 {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1.5rem;
}
.check-out-pages .check-out-form .container .delivery .header .btn,
.check-out-pages .check-out-form .container .payment .header .btn {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0 0;
  padding: 2px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.051);
}
.check-out-pages .check-out-form .container .delivery .header .btn button,
.check-out-pages .check-out-form .container .payment .header .btn button {
  width: 50%;
  height: 2.125rem;
  color: rgba(0, 0, 0, 0.6);
  border: 0;
  border-radius: 4px;
}
.check-out-pages .check-out-form .container .delivery .header .btn .active,
.check-out-pages .check-out-form .container .payment .header .btn .active {
  background-color: #fff;
  color: #000;
}
.check-out-pages .check-out-form .container .delivery form label,
.check-out-pages .check-out-form .container .delivery form input,
.check-out-pages .check-out-form .container .payment form label,
.check-out-pages .check-out-form .container .payment form input {
  display: block;
}
.check-out-pages .check-out-form .container .delivery form label,
.check-out-pages .check-out-form .container .payment form label {
  margin: 1.5rem 0 0.675rem 0;
  font-weight: 500;
}
.check-out-pages .check-out-form .container .delivery form input,
.check-out-pages .check-out-form .container .delivery form button,
.check-out-pages .check-out-form .container .payment form input,
.check-out-pages .check-out-form .container .payment form button {
  height: 2.75rem;
  width: 100%;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  padding: 0 0.875rem;
}
.check-out-pages .check-out-form .container .delivery form button,
.check-out-pages .check-out-form .container .payment form button {
  background-color: #077929;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  transition: 0.3s;
}
.check-out-pages .check-out-form .container .delivery form button:hover,
.check-out-pages .check-out-form .container .payment form button:hover {
  background-color: #02611f;
}
.check-out-pages .check-out-form .container .delivery form .det,
.check-out-pages .check-out-form .container .payment form .det {
  display: flex;
  gap: 1.5rem;
}
.check-out-pages .check-out-form .container .delivery form .det div,
.check-out-pages .check-out-form .container .payment form .det div {
  flex-grow: 1;
}
.check-out-pages .check-out-form .container .delivery form .inp,
.check-out-pages .check-out-form .container .payment form .inp {
  position: relative;
}
.check-out-pages .check-out-form .container .delivery form .inp div,
.check-out-pages .check-out-form .container .delivery form .inp img,
.check-out-pages .check-out-form .container .payment form .inp div,
.check-out-pages .check-out-form .container .payment form .inp img {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.check-out-pages .check-out-form .container .delivery form .inp .icon,
.check-out-pages .check-out-form .container .payment form .inp .icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.check-out-pages .check-out-form .container .delivery form .inp div,
.check-out-pages .check-out-form .container .payment form .inp div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 5rem;
}
.check-out-pages .check-out-form .container .delivery form .inpp input,
.check-out-pages .check-out-form .container .payment form .inpp input {
  padding-left: 3rem;
}
.check-out-pages .cart-page-container {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.check-out-pages .cart-page-container h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.check-out-pages .cart-page-container .container {
  margin: 1.5rem 0;
  display: grid;
  gap: 1rem;
}
.check-out-pages .cart-page-container .container .item-container {
  display: flex;
  gap: 0.5rem;
}
.check-out-pages .cart-page-container .container .item-container .product-img {
  width: 33.33vw;
}
.check-out-pages .cart-page-container .container .item-container .product-img img {
  width: 100%;
}
.check-out-pages .cart-page-container .container .item-container .details {
  flex-grow: 1;
}
.check-out-pages .cart-page-container .container .item-container .details .icon1,
.check-out-pages .cart-page-container .container .item-container .details .icon2 {
  cursor: pointer;
}
.check-out-pages .cart-page-container .container .item-container span {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  padding-top: 0.25rem;
}
.check-out-pages .cart-page-container .container .item-container .price {
  font-size: 1.25rem;
  color: #077929;
  padding: 0.75rem 0;
  font-weight: 600;
}
.check-out-pages .cart-page-container .container .item-container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  padding: 0.5rem 0.75rem;
  background: none;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.check-out-pages .cart-page-container .container .item-container .rate {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-out-pages .cart-page-container .container .item-container .icon1 {
  color: #ec3535;
  font-size: 1.125rem;
}
.check-out-pages .cart-page-container .container .item-container .icon2 {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 1.125rem;
}
.check-out-pages .cart-page-container .summary {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
}
.check-out-pages .cart-page-container .summary h2 {
  font-size: 1.25rem;
  font-weight: 700;
}
.check-out-pages .cart-page-container .summary .order {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.check-out-pages .cart-page-container .summary .order div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-out-pages .cart-page-container .summary .order div span:last-child {
  font-weight: 500;
}
.check-out-pages .cart-page-container .summary .coupon {
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  padding: 0.75rem;
}
.check-out-pages .cart-page-container .summary .coupon p {
  font-weight: 500;
  text-align: center;
}
.check-out-pages .cart-page-container .summary .coupon .input {
  display: flex;
  gap: 0.75rem;
  padding-top: 0.75rem;
  justify-content: center;
}
.check-out-pages .cart-page-container .summary .coupon .input input,
.check-out-pages .cart-page-container .summary .coupon .input button {
  height: 2.75rem;
  background: none;
  cursor: pointer;
}
.check-out-pages .cart-page-container .summary .coupon .input input {
  width: 11.438rem;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  padding-left: 1rem;
}
.check-out-pages .cart-page-container .summary .coupon .input button {
  width: 4.25rem;
  border: 1px solid #077929;
}
.check-out-pages .cart-page-container .summary .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1215686275);
  margin: 1.5rem 0;
}
.check-out-pages .cart-page-container .summary .proceed {
  width: 100%;
  height: 3rem;
  background-color: #077929;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.check-out-pages .cart-page-container .summary .proceed:hover {
  background-color: #02611f;
}
.check-out-pages .cart-page-container .summary {
  border: none;
  padding: 0;
}
.check-out-pages .cart-page-container .summary .coupon,
.check-out-pages .cart-page-container .summary .proceed {
  display: none;
}
.check-out-pages .cart-page-container .container .item-container {
  padding-bottom: 2.25rem;
}
.check-out-pages .see-more {
  padding: 1.5rem 0;
}
.check-out-pages .see-more .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-out-pages .see-more .head h3 {
  font-size: 1.125rem;
}
.check-out-pages .see-more .head .button {
  display: flex;
  gap: 1rem;
}
.check-out-pages .see-more .head .button .icon {
  font-size: 2rem;
  color: #077929;
  transition: 0.3s;
}
.check-out-pages .see-more .head .button .icon:hover {
  color: #02611f;
  transform: scale(1.1);
}
.check-out-pages .see-more .product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-top: none;
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  transition: all 0.4s;
}
.check-out-pages .see-more .product .product-container {
  width: 44.44vw;
  transition: all 0.4s;
}
.check-out-pages .see-more .product .product-container:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}
.check-out-pages .see-more .product .product-container .img-container {
  position: relative;
  transition: all 0.4s;
}
.check-out-pages .see-more .product .product-container .img-container img {
  width: 100%;
}
.check-out-pages .see-more .product .product-container .img-container .icon,
.check-out-pages .see-more .product .product-container .img-container .icon2 {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.check-out-pages .see-more .product .product-container .img-container .icon {
  left: 0.25rem;
}
.check-out-pages .see-more .product .product-container .img-container .icon2 {
  right: 0.25rem;
}
.check-out-pages .see-more .product .product-container .img-container .add-to-cart {
  background: #077929;
  color: #fff;
  transition: 0.3s;
}
.check-out-pages .see-more .product .product-container .img-container .add-to-cart:hover {
  background-color: #02611f;
}
.check-out-pages .see-more .product .product-container .price {
  color: #077929;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-out-pages .see-more .product .product-container .price span:last-child {
  font-size: 14px;
}
.check-out-pages .see-more .product .product-container .price span:last-child .icon {
  color: #fcd538;
}
.check-out-pages .see-more .product .product-container p {
  padding-top: 0.75rem;
  font-size: 0.875rem;
}
.check-out-pages .see-more .product .product-container .tag {
  display: block;
  font-size: 0.875rem;
  padding: 0.25rem 0 1.5rem 0;
  color: rgba(0, 0, 0, 0.6);
}
.check-out-pages .see-more .product .product-container {
  flex-shrink: 0;
}

.success {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border: 1px solid #077929;
  border-radius: 4px;
  background-color: #fff;
  width: auto;
}
.success .icon {
  font-size: 1.9rem;
  color: #077929;
}

.payment-success {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}
.payment-success .card {
  background-color: #fff;
  padding: 1.5rem;
  width: 20.5rem;
}
.payment-success .card img {
  width: 10rem;
}
.payment-success .card h2 {
  margin: 2rem 0 1rem 0;
  font-size: 1.25rem;
}
.payment-success .card p {
  margin: 1.5rem;
  font-size: 0.85rem;
}
.payment-success .card button {
  width: 100%;
  height: 3rem;
  background: #077929;
  border: none;
  color: #fff;
  transition: all 0.4s;
}
.payment-success .card button:hover {
  background: #02611f;
}

.product-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5019607843);
}
.product-not-found .icon {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.1215686275);
}
.product-not-found h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  footer .container {
    width: 43.75rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  nav {
    width: 65.5rem;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.771rem;
  }
  nav .mobile .search-cart {
    display: none;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    gap: 0.5rem;
    height: auto;
  }
  nav ul li {
    width: auto;
    gap: 0.188rem;
    padding: 0.5rem 0.75rem;
  }
  nav ul li:nth-child(1) {
    display: flex;
  }
  nav ul li:nth-child(2) {
    position: relative;
    padding: 0;
    display: block;
  }
  nav ul li:nth-child(2) input {
    width: 20.75rem;
    height: 3rem;
    padding: 0 0.5rem;
  }
  nav ul li:nth-child(2) input::-moz-placeholder {
    font-size: 0.875rem;
  }
  nav ul li:nth-child(2) input::placeholder {
    font-size: 0.875rem;
  }
  nav ul li:nth-child(2) .icon-search {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    font-size: 1.5rem;
  }
  nav ul li:last-child {
    background-color: #077929;
    border-radius: 4px;
    color: #fff;
  }
  nav ul li:last-child span:last-child {
    background-color: #fff;
    color: #077929;
    border-radius: 100px;
    border: 1px solid #077929;
    width: 1rem;
    font-size: 0.688rem;
    text-align: center;
    transition: 0.3s;
  }
  nav .collapse {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    gap: 0.5rem;
    height: auto;
    height: auto;
  }
  nav .collapse li {
    width: auto;
    gap: 0.188rem;
    padding: 0.5rem 0.75rem;
  }
  nav .collapse li:nth-child(1) {
    display: flex;
  }
  nav .collapse li:nth-child(2) {
    position: relative;
    padding: 0;
    display: block;
  }
  nav .collapse li:nth-child(2) input {
    width: 20.75rem;
    height: 3rem;
    padding: 0 0.5rem;
  }
  nav .collapse li:nth-child(2) input::-moz-placeholder {
    font-size: 0.875rem;
  }
  nav .collapse li:nth-child(2) input::placeholder {
    font-size: 0.875rem;
  }
  nav .collapse li:nth-child(2) .icon-search {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    font-size: 1.5rem;
  }
  nav .collapse li:last-child {
    background-color: #077929;
    border-radius: 4px;
    color: #fff;
  }
  nav .collapse li:last-child span:last-child {
    background-color: #fff;
    color: #077929;
    border-radius: 100px;
    border: 1px solid #077929;
    width: 1rem;
    font-size: 0.688rem;
    text-align: center;
    transition: 0.3s;
  }
  header {
    width: 65.5rem;
    margin: 0 auto;
    margin-top: 9.75rem;
  }
  header img {
    width: 100%;
    margin: 0 auto;
  }
  header .header-body {
    margin-top: 4.75rem;
    padding: 1.5rem 0;
  }
  header .header-body .text {
    width: 38.125rem;
    margin: 2.25rem auto 0 auto;
  }
  header .header-body .text h1 {
    font-size: 3.25rem;
    line-height: 3.821rem;
  }
  header .header-body .text h1 br {
    display: none;
  }
  header .header-body .text p {
    font-size: 1.375rem;
    line-height: 1.788rem;
  }
  header .header-body .text button {
    width: 11.875rem;
  }
  main {
    width: 65.5rem;
    margin: 0 auto;
  }
  main .nav {
    border-radius: 8px;
  }
  main .sort {
    display: flex;
    gap: 0.75rem;
  }
  main .sort .close {
    margin: 0.5rem 0;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    border: none;
    display: flex;
    gap: 0.5rem;
    background: #c6f6d5;
  }
  main .sort .close .icon {
    color: rgba(0, 0, 0, 0.5019607843);
  }
  main .filter {
    padding: 0.75rem 1rem;
  }
  main .product {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
  }
  main .product .product-container {
    width: 14.438rem;
  }
  main .product .product-container .img-container img {
    width: 100%;
  }
  main .product .product-container .img-container .icon,
  main .product .product-container .img-container .icon2 {
    bottom: 0.75rem;
    padding: 0.625rem;
    font-size: 1.131rem;
  }
  main .product .product-container .img-container .icon {
    left: 0.75rem;
  }
  main .product .product-container .img-container .icon2 {
    right: 0.75rem;
  }
  main .product .product-container .tag {
    padding: 0.25rem 0 2.75rem 0;
  }
  main .nav-item-btn {
    justify-content: center;
  }
  main .nav-item-btn span {
    font-size: 0.75rem;
  }
  main .nav-item-btn .first {
    border: 1px solid #077929;
    font-weight: 500;
  }
  main .nav-item-btn .icon {
    font-size: 1.031rem;
  }
  footer {
    margin-top: 4.75rem;
    padding: 1.5rem 0;
  }
  footer .container {
    width: 65.5rem;
    margin: 0 auto;
    display: flex;
    gap: 7.875rem;
  }
  footer .container .logo img {
    width: 7.438rem;
  }
  footer .container .footer-list {
    width: 29.875rem;
    gap: 4rem;
    padding: 0;
  }
  footer .container .footer-list .item {
    gap: 1rem;
  }
  footer .container .sign-up {
    width: 18.438rem;
    text-align: start;
  }
  footer .container .sign-up .socials {
    justify-content: start;
  }
  footer .copyright {
    gap: 4.25rem;
  }
  .cart-page {
    width: 65.5rem;
    margin: 0 auto;
    margin-top: 9.75rem;
    padding: 1.5rem 0;
  }
  .cart-page .cart-page-container {
    display: flex;
    gap: 4.063rem;
    width: 64.375rem;
    margin: 0 auto;
  }
  .cart-page .cart-page-container .cart {
    width: 35.675rem;
  }
  .cart-page .cart-page-container .cart .container {
    gap: 1.5rem;
  }
  .cart-page .cart-page-container .cart .container .item-container {
    gap: 1.5rem;
  }
  .cart-page .cart-page-container .cart .container .item-container .product-img {
    width: 11.875rem;
  }
  .cart-page .cart-page-container .cart .container .item-container .details {
    width: 22rem;
    position: relative;
  }
  .cart-page .cart-page-container .cart .container .item-container .details .dt {
    display: flex;
    justify-content: space-between;
  }
  .cart-page .cart-page-container .cart .container .item-container .details .dt .price {
    padding: 0;
  }
  .cart-page .cart-page-container .cart .container .item-container .details .button {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0 3.875rem 0;
  }
  .cart-page .cart-page-container .cart .container .item-container .details .button button {
    margin-bottom: 0;
  }
  .cart-page .cart-page-container .cart .container .item-container .details .rate .icon2 {
    position: absolute;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .cart-page .cart-page-container .cart .container .item-container .details .rate .icon1,
  .cart-page .cart-page-container .cart .container .item-container .details .rate .icon2 {
    font-size: 1.313rem;
  }
  .cart-page .cart-page-container .summary {
    align-self: flex-start;
  }
  .cart-page .cart-page-container .summary p {
    text-align: start;
  }
  .cart-page .see-more {
    padding: 1.5rem 0;
  }
  .cart-page .see-more .product {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    padding-top: 1.5rem;
  }
  .cart-page .see-more .product .product-container {
    width: 14.438rem;
  }
  .cart-page .see-more .product .product-container .img-container img {
    width: 100%;
  }
  .cart-page .see-more .product .product-container .img-container .icon,
  .cart-page .see-more .product .product-container .img-container .icon2 {
    bottom: 0.75rem;
    padding: 0.625rem;
    font-size: 1.131rem;
  }
  .cart-page .see-more .product .product-container .img-container .icon {
    left: 0.75rem;
  }
  .cart-page .see-more .product .product-container .img-container .icon2 {
    right: 0.75rem;
  }
  .cart-page .see-more .product .product-container .tag {
    padding: 0.25rem 0 2.75rem 0;
  }
  .check-out-pages {
    width: 65.5rem;
    margin: 0 auto;
    padding: 0;
    margin-top: 9.75rem;
  }
  .check-out-pages .check-out-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.063rem;
    padding: 1.5rem 0;
    margin-bottom: 4.75rem;
  }
  .check-out-pages .check-out-form .container {
    width: 39.375rem;
  }
  .check-out-pages .check-out-form .container .delivery .header h1,
  .check-out-pages .check-out-form .container .payment .header h1 {
    padding-top: 0;
  }
  .check-out-pages .check-out-form .container .delivery form .details,
  .check-out-pages .check-out-form .container .payment form .details {
    display: flex;
    gap: 1.5rem;
  }
  .check-out-pages .check-out-form .container .delivery form .details div,
  .check-out-pages .check-out-form .container .payment form .details div {
    flex-grow: 1;
  }
  .check-out-pages .check-out-form .container .payment {
    padding-top: 2rem;
  }
  .check-out-pages .cart-page-container {
    align-self: flex-start;
    width: 20.938rem;
  }
  .check-out-pages .cart-page-container .cart .container .item-container .product-img {
    width: 7.5rem;
  }
  .check-out-pages .cart-page-container .cart .container .item-container .product-img img {
    width: 100%;
  }
  .check-out-pages .cart-page-container .cart .container .item-container .details {
    flex-grow: 0;
    width: auto;
  }
  .check-out-pages .see-more {
    padding: 1.5rem 0;
  }
  .check-out-pages .see-more .product {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    padding-top: 1.5rem;
  }
  .check-out-pages .see-more .product .product-container {
    width: 14.438rem;
  }
  .check-out-pages .see-more .product .product-container .img-container img {
    width: 100%;
  }
  .check-out-pages .see-more .product .product-container .img-container .icon,
  .check-out-pages .see-more .product .product-container .img-container .icon2 {
    bottom: 0.75rem;
    padding: 0.625rem;
    font-size: 1.131rem;
  }
  .check-out-pages .see-more .product .product-container .img-container .icon {
    left: 0.75rem;
  }
  .check-out-pages .see-more .product .product-container .img-container .icon2 {
    right: 0.75rem;
  }
  .check-out-pages .see-more .product .product-container .tag {
    padding: 0.25rem 0 2.75rem 0;
  }
  .success {
    gap: 2rem;
    padding: 1rem 1.5rem;
    top: 5rem;
  }
  .success .icon {
    font-size: 2.25rem;
    color: #077929;
  }
  .success span {
    font-size: 1.125rem;
  }
  .payment-success {
    padding: 0;
  }
  .payment-success .card {
    width: 25.313rem;
  }
  .payment-success .card img {
    width: 15rem;
  }
  .payment-success .card h2 {
    font-size: 1.5rem;
  }
  .payment-success .card p {
    font-size: 1.15rem;
  }
  .product-not-found .icon {
    font-size: 15rem;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    width: 80rem;
    top: 0;
    right: 0;
  }
  nav ul li:nth-child(2) input {
    width: 33.75rem;
  }
  header {
    width: 77.5rem;
  }
  main {
    width: 77.5rem;
  }
  main .product .product-container {
    width: 18.438rem;
  }
  footer .container {
    width: 77.5rem;
    gap: 9.875rem;
  }
  footer .container .logo img {
    width: 9.438rem;
  }
  footer .container .footer-list {
    width: 29.875rem;
    gap: 6rem;
  }
  footer .container .sign-up {
    width: 18.438rem;
  }
  .cart-page {
    width: 77.5rem;
  }
  .cart-page .cart-page-container .cart {
    width: 39.675rem;
  }
  .cart-page .cart-page-container .cart .container .item-container .details {
    width: 26rem;
  }
  .cart-page .see-more .product .product-container {
    width: 18.438rem;
  }
  .check-out-pages {
    width: 77.5rem;
    margin-top: 12.25rem;
  }
  .check-out-pages .cart-page-container .cart {
    width: 39.675rem;
  }
  .check-out-pages .cart-page-container .cart .container .item-container .details {
    width: 26rem;
  }
  .check-out-pages .see-more .product .product-container {
    width: 18.438rem;
  }
}/*# sourceMappingURL=index.css.map */